In [29]:
# Importing pandas and matplotlib
import pandas as pd
import matplotlib.pyplot as plt

# Read in the Netflix CSV as a DataFrame
netflix_df = pd.read_csv("assets/netflix_data.csv")

In [30]:
# Start coding here! Use as many cells as you like
print(netflix_df)

     show_id     type       title           director  \
0         s2    Movie        7:19  Jorge Michel Grau
1         s3    Movie       23:59       Gilbert Chan
2         s4    Movie           9        Shane Acker
3         s5    Movie          21     Robert Luketic
4         s6  TV Show          46        Serdar Akar
...      ...      ...         ...                ...
4807   s7779    Movie  Zombieland    Ruben Fleischer
4808   s7781    Movie         Zoo       Shlok Sharma
4809   s7782    Movie        Zoom       Peter Hewitt
4810   s7783    Movie        Zozo        Josef Fares
4811   s7784    Movie      Zubaan        Mozez Singh

                                                   cast        country  \
0     Demián Bichir, Héctor Bonilla, Oscar Serrano, ...         Mexico
1     Tedd Chan, Stella Chung, Henley Hii, Lawrence ...      Singapore
2     Elijah Wood, John C. Reilly, Jennifer Connelly...  United States
3     Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...  United States
4     Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...         Turkey
...                                                 ...            ...
4807  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
4808  Shashank Arora, Shweta Tripathi, Rahul Kumar, ...          India
4809  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
4810  Imad Creidi, Antoinette Turk, Elias Gergi, Car...         Sweden
4811  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

             date_added  release_year  duration  \
0     December 23, 2016          2016        93
1     December 20, 2018          2011        78
2     November 16, 2017          2009        80
3       January 1, 2020          2008       123
4          July 1, 2017          2016         1
...                 ...           ...       ...
4807   November 1, 2019          2009        88
4808       July 1, 2018          2018        94
4809   January 11, 2020          2006        88
4810   October 19, 2020          2005        99
4811      March 2, 2019          2015       111

                                            description             genre
0     After a devastating earthquake hits Mexico Cit...            Dramas
1     When an army recruit is found dead, his fellow...     Horror Movies
2     In a postapocalyptic world, rag-doll robots hi...            Action
3     A brilliant group of students become card-coun...            Dramas
4     A genetics professor experiments with a treatm...  International TV
...                                                 ...               ...
4807  Looking to survive in a world taken over by zo...          Comedies
4808  A drug dealer starts having doubts about his t...            Dramas
4809  Dragged from civilian life, a former superhero...          Children
4810  When Lebanon's Civil War deprives Zozo of his ...            Dramas
4811  A scrappy but poor boy worms his way into a ty...            Dramas

[4812 rows x 11 columns]